#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.hangmanLogo {
  height: 150px;
  padding: 10px;
}
.Keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
}
.keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 0 5px 0;
}
.keyboard-letter {
  cursor: pointer;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px 3px 0 3px;
}
.keyboard-letter:hover {
  background-color: rgb(247 153 64);
  color: rgb(124 84 39);
}
.blank-letter-roww {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  border: 2px solid gold;
}
.blank-letter-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  border: 2px solid rebeccapurple;
}
.blank-letter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  border: 2px solid red;
}